@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --brand-primary: #0A6579;
  --brand-secondary: #484848;
  --brand-accent: #F99E15;
}



body{
  font-family: "Albert Sans", sans-serif;
}

h1{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 60px;
  font-weight: 700;
}

h2{
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px !important;
  font-weight: 900;
}


h3{
  color: var(--brand-primary);
  font-size: 40px;
  font-family: 'Albert Sans', sans-serif;
}

h4{
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 35px !important;
  font-weight: 700 !important;
  line-height: 132.5% !important;
}

.bg-light {
  background-color: #F5F5F5 !important;
}

/* header and navbar section */
#header{
  padding: 2em 0;
}

.header-item{
  display:flex;
  align-items: center;
  text-align: left;

}

.header-img{
  padding-right: 0.6rem;
}


.location-txt{
  font-size: 23px;
  font-weight: 700;
  line-height: 1px;
}

.call-txt{
  font-size: 16px;
  font-weight: 700;

}

.number-txt{
  font-size: 24px;
  font-weight: 700;

}

#emergency{
  font-size:17px !important;
  font-family: "Red Hat Display", sans-serif;

}

.custom-accent-btn {
  background-color: var(--brand-accent) !important;
  border: none;
  border-radius: 0; 
}

.custom-accent-btn:hover {
  background-color: #e68a00; 
  color: white;
}

.navbar-nav .nav-link {
  position: relative;
  display: inline-block;
  color: white !important;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 2px; 
  text-decoration: none;
}

.navbar-nav .nav-link:not(.dropdown-toggle)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--brand-accent);
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:not(.dropdown-toggle):hover::after {
  width: 100%;
}

.navbar-nav .dropdown-menu {
  background-color: white;
  border-radius: 0.5rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23F99E15' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* /header and navbar section */

/* request quote section*/
.quote-banner {
  background-color: #F5F5F5;
}

.quote-banner h2 {
  font-size: 2rem;
}

#quote-banner-txt{
  font-size: 18px;
  padding: 5rem;
}

/* / request quote section*/


/* Services and Solutions section */

.boxes{
  font-family: "Red Hat Display", sans-serif;

}

.box{
  align-content: center;
}

.box:hover {
  background-color: #eaeaea !important;
  transition: background-color 0.3s ease !important;
  cursor: pointer !important;
}

.bg-teal {
  background-color: var(--brand-primary) !important;
}

#services-intro{
  margin-right: 5rem !important;
}

.service-explanation{
  line-height: 132.5%;
  font-size:25px
}

.bg-brown{
  background: var(--brand-secondary);
  height: 100%;
  align-content: center;
  width: 80px;
  text-align: center;
}

.contact-title{
  font-size: 20px;
  font-weight: 700;


}

.phone-num{
  font-size: 30px;
  font-weight: 400;

}

/* /Services and Solutions section*/


/* Branch Locator Section */

.branch-locator-title{
  padding-bottom:1rem !important;
}

.branch-btn {
  background-color: #f5f5f5;
  color: black;
  font-size: 18px;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
  text-align: left;
  width: 100%;
  margin-bottom:1rem;
  padding:2rem;
  text-align: center;
}


.branch-btn:hover {
  background-color: #e0e0e0; /* darker gray on hover */
}

.branch-btn.active {
  background-color: var(--brand-primary);
  color: white;
  font-weight: 700;
}
/* /Branch Locator Section */

/* Footer */
footer{
  background-color:black !important;
  color:white;
  text-align: center;
  font-size:14px;
  padding: 1rem;
}

.copyright{
  font-weight: 700;

}
.underline{
  text-decoration: underline;
}
/* /Footer */



@media (max-width: 767.98px) {
  #services-intro{
    margin-right: 0 !important;
  }
}